* {
    margin: 0;
    padding: 0;
}

body {
    height: 4000px;
}

#svgpath {
    position: absolute;
    margin-top: 2000px;
}

#myclippath {
    // transition: 0.175s;
}

.header {
    display: block;
    position: relative;
    height: 700px;
    width: 100%;
    background: linear-gradient(135deg, rgba(220,7,25,1) 0%, rgba(66,65,243,1) 100%);
    transition: clip-path 0.175s, margin 0.175s;

    -webkit-clip-path: url(#myClip);
    clip-path: url(#myClip);

    > img {
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 0.175s;
        width: 250px;
    }

    &.small {
        position: fixed;
        margin-top: -139px;
        top: -470px;

        img {
            bottom: -170px;
            opacity: 0;
        }

        // #myclippath {
        //     d: path("M6680,700s700-0,700-0S7662.272,700,7913.2,700,8280,700,8280,700V.656H6680Z");
        // }
    }

}