* {
  margin: 0;
  padding: 0;
}

body {
  height: 4000px;
}

#svgpath {
  position: absolute;
  margin-top: 2000px;
}

.header {
  display: block;
  position: relative;
  height: 700px;
  width: 100%;
  background: linear-gradient(135deg, #dc0719 0%, #4241f3 100%);
  -webkit-transition: margin 0.175s, -webkit-clip-path 0.175s;
  transition: margin 0.175s, -webkit-clip-path 0.175s;
  transition: clip-path 0.175s, margin 0.175s;
  transition: clip-path 0.175s, margin 0.175s, -webkit-clip-path 0.175s;
  -webkit-clip-path: url(#myClip);
  clip-path: url(#myClip);
}

.header > img {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.175s;
  transition: 0.175s;
  width: 250px;
}

.header.small {
  position: fixed;
  margin-top: -189px;
  top: -420px;
}

.header.small img {
  bottom: -170px;
  opacity: 0;
}
